:root {
  --dark-blue: #051D3B;
  --blue-300: #5081FB;
  --blue-200: #7BA4FC;
  --blue-100: #96B9FD;
  --white: #FFFFFF;
  --border-radius: 8px;

  --inner-container: 75.2rem;
  --aside-width: 32.8rem;

  /* breakpoints */
  --tablet-breakpoint: 768px;

  /* fonts */
  --font-family: 'Inter', "sans-serif";
}